@font-face {
    font-family: 'nura-light';
    src: url('./Nura-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'nura';
    src: url('./Nura-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'nura-bold';
    src: url('./Nura-SemiBold.ttf') format('truetype');
}